services:

  db:
    image: postgres:latest
    container_name: videoflix_database
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"

  redis:
    image: redis:latest
    container_name: videoflix_redis
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

  web:
    build:
      context: .
      dockerfile: backend.Dockerfile
    env_file: .env
    container_name: videoflix_backend
    command: >
      gunicorn config.wsgi:application
      --worker-class gevent
      --timeout 900
      --workers 3
      --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - videoflix_media:/app/media
      - videoflix_static:/app/static
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - db
      - redis

  rqworker:
    build:
      context: .
      dockerfile: backend.Dockerfile
    container_name: videoflix_rqworker
    command: python manage.py rqworker default
    env_file: .env
    volumes:
      - .:/app
      - videoflix_media:/app/media
      - videoflix_static:/app/static
    depends_on:
      - web
      - redis
    environment:
      - PYTHONUNBUFFERED=1


volumes:
  postgres_data:
  redis_data:
  videoflix_media:
  videoflix_static:
