services:
  db:
    image: postgres:16
    container_name: videoflix_database
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: videoflix_redis
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

  web:
    build:
      context: .
      dockerfile: backend.Dockerfile
    container_name: videoflix_backend
    command: ./backend.entrypoint.sh
    env_file: .env
    environment:
      PYTHONUNBUFFERED: 1
      DJANGO_CONTAINER_ROLE: web
      RUN_MIGRATIONS: "true"
      RUN_WORKER: "false"
    volumes:
      - ./media:/media
      - ./static:/static
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  rqworker:
    build:
      context: .
      dockerfile: backend.Dockerfile
    container_name: videoflix_rqworker
    command: ./backend.entrypoint.sh
    env_file: .env
    environment:
      PYTHONUNBUFFERED: 1
      DJANGO_CONTAINER_ROLE: rqworker
      RUN_MIGRATIONS: "false"
      RUN_WORKER: "true"
    volumes:
      - ./media:/media
      - ./static:/static
    depends_on:
      - redis
      - web

volumes:
  postgres_data:
  redis_data: